<p>
	<b>Multiple Team Membership and Collective Performance</b><br>
	Raquel Asencio, Krannert School of Management, Purdue University
</p>




<p>
	<b>Key Information</b><br>
	Please take time to review this information carefully. This is a research study. Your participation in this study is voluntary which means that you may choose not to participate at any time without penalty or loss of benefits to which you are otherwise entitled. You may ask questions to the researchers about the study whenever you would like. If you decide to take part in the study, you will be asked to sign this form, be sure you understand what you will do and any possible risks or benefits.
	<ul>
		<li>We are conducting a study to understand the best strategies for enabling effective teams. In particular, we are interested in observing how working in multiple teams impacts collective performance.</li>
		<li>This study will last a total of approximately 2 hours.</li>
	</ul>
</p>

<p>
	<b>What is the purpose of this study?</b><br>
	<ul>
		<li>You are being asked to participate in this study because you are enrolled in OBHR 330.</li>
		<li>We would like to enroll 500 people in this study.</li>
	</ul>
</p>

<p>
	<b>What will I do if I choose to be in this study?</b><br>
	<ul>
		<li>As part of this study, you will participate in a simulation called “The Knowledge Worker’s Dilemma”. In this simulation you will be working on two or more projects at any given time. You will be engaged in different decision making tasks (i.e. which project to work on and what task to perform, to maximize your team’s returns). During the simulation, you will be interacting with members of your assigned team only via online team-chat, there is no face-to-face or video interaction involved. Only your chat conversations and screen-name will be visible to other participants. At the conclusion of your team’s work, you will be asked to complete a brief survey about your experiences with the team and the task.</li>
		<li>For this activity, there are several steps. You will first response to a few baseline survey items following this consent form. Next, you will watch a short instructional video to explain the rules and procedures in the simulation. Third, you will fill out short survey at the conclusion of the simulation. You will be debriefed and conclude your participation.</li>
		<li>For this research we will be reviewing anonymous survey responses and chat conversations.</li>
	</ul>
</p>

<p>
	<b>How long will I be in the study?</b><br>
	<ul>
		<li>The total participation time is approximately 2 hours.</li>
	</ul>
</p>

<p>
	<b>What are the possible risks or discomforts?</b><br>
	<ul>
		<li>Participation in this study is minimal risk meaning that there is no greater risk than you would encounter in daily life or during the performance of routine physical or psychological exams or tests. Breach of confidentiality is always a risk with data, but we will take precautions to minimize this risk as described in the confidentiality section.</li>
	</ul>
</p>


<p>
	<b>Are there any potential benefits?</b><br>
	<ul>
		<li>There is no direct personal benefit in the participation of this research. However, through participation in the research study, you may contribute to our general understanding of multiple team membership.</li>
	</ul>
</p>


<p>
	<b>Will I receive payment or other incentive?</b><br>
	<ul>
		<li>When conducted in the laboratory, participants are eligible to receive up to 1% of extra credit intheir course. These points are assigned through SONA at the conclusion of the study</li>
		<li>When conducted in the classroom, participants will receive regular course credit for completing their coursework.</li>
	</ul>
</p>


<br>
<p>
	<b>This section provides more information about the study</b>
</p>
<br>

<p>
	<b>Will information about me and my participation be kept confidential?</b><br>
	The project's research records may be reviewed by departments at Purdue University responsible for regulatory and research oversight.
	<ul>
		<li>Your data will be stored electronically and password protected. Only the study personnel will have access to the data.</li>
		<li>Your course instructor will not have any knowledge of your participation in the research study.</li>
		<li>At the conclusion of the study, all data will be anonymized so that it cannot be traced back to you as an individual.</li>
		<li>Your data will be used for research purposes only, including presentation at professional conferences and publication in academic journals. In any case, no individual will ever be identifiable.</li>
	</ul>
</p>

<p>
	<b>What are my rights if I take part in this study?</b><br>
	<ul>
		<li>You may withdraw your consent at any time. To do so, please contact whichever of the following research personnel is not your instructor: <em>Raquel Asencio (rasencio@purdue.edu)</em>, or <em>Kinshuk Sharma (sharm259@purdue.edu)</em>. There are no penalties for your withdrawal.</li>
		<li>Your decision to participate or not in the research will have no effect on the your relationship with your instructor or your standing in the course.</li>
	</ul>
</p>

<p>
	<b>Who can I contact if I have questions about the study?</b><br>
	If you have questions, comments or concerns about this research project, you can talk to one of the researchers. Please contact either <em>Raquel Asencio (rasencio@purdue.edu)</em>, or <em>Kinshuk Sharma (sharm259@purdue.edu)</em>. Please contact someone other than your course instructor.
</p>

<p>
	To report anonymously via Purdue’s Hotline see www.purdue.edu/hotline
</p>

<p>
	If you have questions about your rights while taking part in the study or have concerns about the treatment of research participants, please call the <em>Human Research Protection Program at (765) 494-5942, email (irb@purdue.edu)</em> or write to: <br>
	Human Research Protection Program - Purdue University<br>
	Ernest C. Young Hall, Room 1032<br>
	155 S. Grant Street<br>
	West Lafayette, IN 47907-2114
</p>

<p>
	<b>Documentation of Informed Consent</b><br>
	I have had the opportunity to read this consent form and have the research study explained. I have had the opportunity to ask questions about the research study, and my questions have been answered. I am prepared to participate in the research study described above. I will be offered a copy of this consent form after I sign it.
</p>

<p>
	Electronically sign the form by clicking your selection below:
</p>