<p>This online-game is part of a research study conducted by Pranav Gupta at Carnegie Mellon University.</p>
<p>The purpose of the research is to investigate how people make decisions when working simultaneously on multiple projects and how this affects performance.</p>

<p>
	<b>Procedures</b><br>
	In this study, you will be asked to work with multiple team members across different decision making tasks over a course of 2 hours. You will be interacting with members of your team only via online team-chat, there is no face-to-face or video interaction involved. You will be assigned a unique screen-name. Only your chat conversations and screen-name will be visible to other participants. At the conclusion of your team’s work, you will be asked to complete a brief survey about your experiences with the team and the task.
</p>

<p>
	<b>Participant Requirements</b><br>
	Participation in this study is limited to individuals age 18 and older who are fluent english speakers and comfortable with using computers.
</p>

<p>
	<b>Risks</b><br>
	The risks and discomfort associated with participation in this study are no greater than those ordinarily encountered in daily life or during other online activities.
</p>

<p>
	<b>Benefits</b><br>
	There may be no personal benefit from your participation in the study but the knowledge received may be of value to humanity.
</p>

<p>
	<b>Compensation & Costs</b><br>
	You will receive $10/hr upon completion of the study. For example, for a 2hr study you will recieve $20.
</p>

<p>
	<b>Confidentiality</b><br>
	By participating in this research, you understand and agree that Carnegie Mellon may be required to disclose your consent form, data and other personally identifiable information as required by law, regulation, subpoena or court order. Otherwise, your confidentiality will be maintained in the following manner:
</p>

<p>Your data and consent form will be kept separate. Your consent form will be stored in a locked location on Carnegie Mellon property and will not be disclosed to third parties. Sharing of data with other researchers will only be done in such a manner that you will not be identified.</p>

<p>By participating, you understand and agree that the data and information gathered during this study may be used by Carnegie Mellon and published and/or disclosed by Carnegie Mellon to others outside of Carnegie Mellon. However, your name or contact information in your consent form will not be mentioned in any such publication or dissemination of the research data and/or results by Carnegie Mellon.</p>

<p>
	<b>Right to Ask Questions & Contact Information</b><br>
	If you have any questions about this study, you should feel free to ask them by contacting the Principal Investigator Pranav Gupta at: <em>Tepper School of Business, Carnegie Mellon University, 5000 Forbes Avenue, Pittsburgh, PA 15217; Tel. 412-961-5793; Email: pranavgu@andrew.cmu.edu</em>
	<br>If you have questions later, desire additional information, or wish to withdraw your participation please contact the Principal Investigator by mail, phone or e-mail in accordance with the contact information listed above.
</p>

<p>If you have questions pertaining to your rights as a research participant; or to report concerns to this study, you should contact the Office of Research integrity and Compliance at Carnegie Mellon University. <em>Email: irb-review@andrew.cmu.edu; Phone: 412-268-1901 or 412-268-5460.</em></p>

<p>
	<b>Voluntary Participation</b><br>
	Your participation in this research is voluntary. You may discontinue participation at any time during the research activity.
</p>

<br><br>
