<div class="content-container">
<!-- 	<div class="panel-secondary">
	  <div class="panel-title">
		  Demo Sceenshots
	  </div>
	</div> -->

	<div class="panel-body">
		<!-- Nav tabs -->
		 <ul class="nav nav-tabs" role="tablist">
		   <li role="presentation" class="active"><a href="#gameplay" aria-controls="gameplay" role="tab" data-toggle="tab">Player view: Gameplay</a></li>
		   <li role="presentation"><a href="#noaccess" aria-controls="noaccess" role="tab" data-toggle="tab">Player view: Project info without Access</a></li>
		   <li role="presentation"><a href="#access" aria-controls="access" role="tab" data-toggle="tab">Player view: Project info with Access</a></li>
		   <li role="presentation"><a href="#admin" aria-controls="admin" role="tab" data-toggle="tab">Admin View: MTM Game dashboard</a></li>
		 </ul>
	</div>
</div>


		 <!-- Tab panes -->
		 <div class="tab-content center">
		   <div role="tabpanel" class="tab-pane active" id="gameplay">
		   		<image src="/images/gameplay.png" class="img-responsive" style="margin: 0 auto;">
		   </div>
		   <div role="tabpanel" class="tab-pane" id="noaccess">
		   	<image src="/images/noaccess.png" class="img-responsive" style="margin: 0 auto;">
		   </div>
		   <div role="tabpanel" class="tab-pane" id="access">
		   	<image src="/images/access.png" class="img-responsive" style="margin: 0 auto;">
		   </div>
		   <div role="tabpanel" class="tab-pane" id="admin">
		   	<image src="/images/admin.png" class="img-responsive" style="margin: 0 auto;">
		   </div>
		 </div>
