<div class="col-xs-12 col-sm-8 col-sm-offset-2">
	<div class="secondary-nav secondary-nav-invert">
		<i class="fa fa-2x fa-rocket content-list-icon-primary pull-left"></i>
		<h2 class="font-invert"><b>Let's get started!</b></h2>
		<h3 class="font-invert">Introduction & Tutorial</h3>
	</div>

	<div class="content-container">
		<div class="panel-secondary">
	    <div class="panel-title">
	      Understanding the Problem
	    </div>
	  </div>

		<div class="panel-body" style="padding:25px;">
			<p>
				As teams researchers at CMU, we were approached by a few startups last year. They wanted to understand how should members in their small teams manage their time, especially when there were working on a number of different projects at the same time. Everyday they had to make decisions on how to divide up the different projects into sub-tasks, assign them to match up each others expertise while making sure that the not only are the most important sub-tasks priotized but also that none of their people where overlaoded with work.
			</p>
			<p>
				This is a bigger issue than just these startups. A qualitative interview reasearch conducted back in 2007 found that between 65-95% of the employees across different industries work on more than one project at the same time. We are sure some of you must have experienced the same complicated decision making and scheduling challenges in your day-to-day life. Ever wondered how these decisions affect your project's performance?
			</p>
		</div>
	</div>

	<div class="content-container">
		<div class="panel-secondary">
	    <div class="panel-title">
	      Playing the Knowledge Worker's Game
	    </div>
	  </div>

		<div class="panel-body" style="padding:25px;">
			<p>
				For the purposes of studying how individuals coordinate across project teams, make these scheduling decisions and how these impact the project's performance - we have developed this 'Knowledge Worker's Game'. This is an online team coordination and decision-making game in which you along with a few other team members are incharge of stating up a fake mobile apps company - Vandeley Apps!
			</p>
			<p>
				Vandeley Apps is going to develop and sell a bunch of apps and you are part of two projects. For each project you and your team will be responsible for developing and marketing the App to get your users. Your team will also be responsible for supporting the active users once you get them and of course your team also has to think about investing in R&D to improve these different aspects of your project. It is fast-paced, engaging and fun.
			</p>
			<p>
				As we cannot expect to accomplish all this in a short time and most of us anyways don't know anything about developing, marketing or supporting apps we have significantly simplified the details and simulated all of the technical work! You are to only discuss with your team what work needs to be done by whom across both your projects and put it in your calender. We will do the rest. Click on the button below to walk through and understand the basics of how your App company works ...
			</p>

			<%= link_to tutorial_steps_path do %>
				<div class="center col-sm-6 col-sm-offset-3 button-padding">
          <button type="button" class="btn btn-block btn-green">BEGIN GAME TUTORIAL</button>
        </div>
			<% end %>

		</div>
	</div>
</div>