<div class="col-sm-8 col-sm-offset-2 center">
  
  <div class="content-container">
    
    <div class="panel-primary">
      <div class="panel-title">
       Adding New Game
      </div>
    </div>

    <div class="panel-body form-container">
    	<%= render 'form' %>
		</div>

  </div>

  <%= link_to 'Cancel', :back %>

</div>
